
html {
	background: #4F2F4C;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	text-color: #FFFFFF;
}

body {
	width: 800px;
	margin: 0 auto;
	background-color: #889100;
	padding: 0 20px 20px 20px;
	border: 5px solid back;
}
/* width of anything not exceed 800px */

p,li {
  color: black;
  font-size: 1.4em;
  line-height: 2;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #0A29C6;
	font-family: Arial;
	font-size: 2em;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	text-decoration: underline;
	text-transform: capitalize;
	font-style: bold;
	font-weight: 80;
}

h2 {
	margin: 0;
	padding: 20px 0;
	color: #055D13;
	font-size: 1.6em;
	text-align: left;
	text-shadow: 0px 0px 0px black;
	text-decoration: line-through;
	text-transform: capitalize;
	font-style: bold;
	font-weight: 80;
	
	
}


img {
	width: 40px;
	display: Block;
	margin: 0 auto;
	padding: 3px 3px 3px 3px;
}

/* All elements with the attribute "data-vegetable"are given green text */
[data-vegetable] {
  color: green;
}

/* All elements with the attribute "data-vegetable" with the exact value "liquid" are given a golden background color */
[data-vegetable="liquid"] {
  background-color: goldenrod;
}

/* All elements with the attribute "data-vegetable", containing the value "spicy", even among others, are given a red text color */
[data-vegetable~="spicy"] {
  color: red;
}

